<div id="description">
<p>
  <h2>What's the idea?</h2>
  <p>We're creating a format for describing turntablism, as well as tools for
  recording, analyzing, sharing, and even recreating scratch performances
  them with robot arms. We want to do for turntablism what
  <a href="http://graffitimarkuplanguage.com">Graffiti Markup Language</a> has done for tagging.

  <h2>News</h2>
  <p><em>Jan 26-28, 2012</em>: Kyle and Jamie will be participating in the <a href="http://arthackday.net">Art Hack Day</a> in NYC, developing and demonstrating ScratchML technology.
  <p><em>Jan 22, 2012</em>: this site is finally online.

  <h2>How does this work?</h2>
  <p>We've been experimenting with a bunch of techniques for recording performances.
  From open-source decoding of timecoded vinyl, to camera-based techniques, cross-
  fader hacking, and even reverse engineering the digital output from high-end mixers.
  We'll have some optical mouse parts to play with, too.

  <h2>How can I help?</h2>
  <p>Our goal for art hack day is to release tools and tutorials for recording data, and
  have an interface for sharing it on the web. We're going to develop a few different
  code, or electronics. We'll also need people to play with and document those tools:
  musicians, artists, and designers.

  <h2>What are those squiggly lines in the grid?</h2>
  <img src="/assets/ttm-example.png" alt="TTM Example" />
  <p>That's <a href="http://dj.wikia.com/wiki/Scratching">Turntablist Transcription Methodoogy</a> (TTM). Each curve represents the move-
  ment of vinyl over time, while breaks in the lines represent crossfader movement.
  It's not exactly what we're going for, but it's a good way to start thinking about
  the data we're recording, sharing, and analyzing.

  <h2>Who is involved?</h2>
  <p>ScratchML is the brainchild of <a href="http://lm4k.com">Michael Auger</a>, <a href="http://jamiedubs.com">Jamie Wilkinson</a> and <a href="http://kylemcdonald.net/">Kyle McDonald</a>.
    Thanks and shoutouts to <a href="http://mediaprodigy.com">Kirk Moreno</a>.

  <p>The idea for ScratchML is as old as GML, but owes a lot of inspiration and credit to other work in the turntable-capture space: TTM, Ms. Pinky and
    <a href="https://hackpad.com/gQu8B5Sb4js#turntablist-transcription">many others.</a>



</p>
</div>
