<div class="text">
<p>
  <h2>What's the idea?</h2>
  <p>We're creating a format for describing turntablism, as well as tools for
  recording, analyzing, sharing, and even recreating scratch performances
  them with robot arms. We want to do for turntablism what
  <a href="http://graffitimarkuplanguage.com">Graffiti Markup Language</a> has done for tagging.

  <p><a href="http://fffff.at/fuckflickr/data/scratchML/scratchml-diagram.jpg">
    <img src="http://fffff.at/fuckflickr/data/scratchML/scratchml-diagram.jpg" alt="" style="width: 100%; margin-top: 10px;" /></a></p>

  <h2>News</h2>

  <p><br /><b><em>Jan 29</em></b>: all systems go! We built a working prototype in under 48 hours
      and demoed during the <a href="http://arthackday.net">Art Hack Day</a> exhibition in Brooklyn yesterday.
      The current implentation uses timecode vinyl and a hacked Vestax VCA fader + Arduino.

      <p>Data is saved to disk as .sml and can be streamed in realtime using OSC, which other Art Hack Day
      participants used to build some incredible visualizations -- everything ranging from
      Serato-style spinning discs and TTM transcription to exploding 3D pizzas and a side-scrolling
      videogame shooter that's controlled by record movements.

      <p>We'll be publishing ScratchML related projects all week on <a href="http://fffff.at">, stay tuned.

      <p>Developers: check out our <a href="/mailing_list">mailing list</a> and <a href="https://github.com/scratchml">GitHub</a>.
  <p><br /><b><em>Jan 26-28</em></b>: Kyle and Jamie will be participating in the <a href="http://arthackday.net">Art Hack Day</a> in NYC, developing and demonstrating ScratchML technology.
  <p><br /><b><em>Jan 22, 2012</em></b>: this site is now online.
    <br />

  <h2>How does this work?</h2>
  <p>We've been experimenting with a bunch of techniques for recording performances.
  From open-source decoding of timecoded vinyl, to camera-based techniques, cross-
  fader hacking, and even reverse engineering the digital output from high-end mixers.
  We'll have some optical mouse parts to play with, too.

  <h2>How can I help?</h2>
  <p>Our goal for art hack day is to release tools and tutorials for recording data, and
  have an interface for sharing it on the web. We're going to develop a few different
  code, or electronics. We'll also need people to play with and document those tools:
  musicians, artists, and designers.

  <h2>What are those squiggly lines in the grid?</h2>
  <img src="/assets/ttm-example.png" alt="TTM Example" />
  <p>That's <a href="http://dj.wikia.com/wiki/Scratching">Turntablist Transcription Methodoogy</a> (TTM). Each curve represents the move-
  ment of vinyl over time, while breaks in the lines represent crossfader movement.
  It's not exactly what we're going for, but it's a good way to start thinking about
  the data we're recording, sharing, and analyzing.

  <h2>Who is involved?</h2>
  <p>ScratchML is the brainchild of <a href="http://lm4k.com">Michael Auger</a>, <a href="http://jamiedubs.com">Jamie Wilkinson</a> and <a href="http://kylemcdonald.net/">Kyle McDonald</a>.
    Many thanks to <a href="http://mediaprodigy.com">Kirk Moreno</a>, <a href="">Lee Meredith</a>, and

  <p>The idea for ScratchML is as old as GML, but owes a lot of inspiration and credit to other work in the turntable-capture space: TTM, Ms. Pinky and
    <a href="https://hackpad.com/gQu8B5Sb4js#turntablist-transcription">many others.</a>



</p>
</div>
