
body { font-family: Helvetica, Helvetica Neue, Arial, sans-serif; }

a, a:visited { color: #333; }
a:hover { color: #99f; }
a:active { color: #f0f; }

h2, h3 { margin: 25px 0; font-weight: normal; }
h2 { font-size: 20px; }
h3 { font-size: 14px; }

.wrapper { margin: auto; }
.clear { clear: both; }


#header {
	height: 70px;
	margin-bottom: 50px;
}

h1#title { position: absolute; top: -10px; left: 10px; }
h1#title img { width: 300px; }
h1#title a { color: #ddd; text-decoration: none; }

.navigation ul li { display: inline; }
.navigation a, .navigation a:visited { padding: 5px; color: #aaa; text-decoration: none; }
#login_or_signup { float: right; margin: 20px 30px 0 0; }
#site_nav { float: left; margin-top: 20px; }

#main {
  clear: both;
  margin-top: 140px; /* accomodate absolute header */
}

#main p {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
  width: 620px;
}

#footer {
  clear: both;
  text-align: center;
	height: 80px;
	margin-top: 120px;
	color: #ccc;
	font-size: 90%;
}


/* forms */
label { clear: both; float: left; display: block; margin-top: 10px; margin-right: 20px; width: 60px; }
input { font-size: 14pt; color: #333; padding: 5px 8px; margin: 10px 0; width: 400px; }
input, textarea { background-color: #f9f9f9; }
textarea { width: 400px; }





#scratches { list-style: none;}
#scratches li {
  float: left;
  width: 190px;
/*  height: 190px;*/
/*  text-align: center;*/
  padding: 10px;
  border: 2px solid #eee;
  overflow: hidden;
  margin: 0  20px 20px 0;
}
#scratches li .id { position: absolute; font-size: 25pt; font-weight: bold; color: #555; }
#scratches li .thumbnail { width: 162px; display: block; margin: 0 auto; margin-bottom: 5px; }
#scratches li .download { float: left; }
#scratches li .created_at { float: right; color: #aaa; }

#scratch { padding: 30px 0; width: 1000px; overflow: visible; }
#scratch .info { margin-right: 10px; }
#scratch .notation { width: 100%; }
#scratch .notation img { }

.notation { border: 1px solid #f0f; width: 1310px; height: 230px; }


