
body { font-family: Helvetica, Helvetica Neue, Arial, sans-serif; }

a, a:visited { color: #333; }
a:hover, a:active { color: #f00; }

h2, h3 { margin: 25px 0; font-weight: normal; }
h2 { font-size: 20px; }
h3 { font-size: 14px; }

.wrapper { margin: auto; }
.clear { clear: both; }

#container {
  width: 840px;
  margin: 0 auto;
  position: relative;
}

#header {
	height: 70px;
	margin-bottom: 50px;
}

h1#title { position: absolute; top: -10px; left: 10px; }
h1#title img { width: 320px; }

h1#title a { color: #ddd; text-decoration: none; }
h1#title a { color: #ddd; text-decoration: none; }

.navigation { margin-top: 95px; }
.navigation ul li { display: inline; }
.navigation a, .navigation a:visited { padding: 2px 3px 1px; color: #aaa; text-decoration: none; }
/*#login_or_signup { float: right; margin: 20px 30px 0 0; }*/
#login_or_signup { display: none; }
#site_nav { float: left; margin-left: 310px; padding-right: 25px; font-size: 12pt; background: url(/assets/backgrounds/gray-transparent.png); }
#site_nav a { background: #000; color: #fff; border: 1px solid transparent; text-transform: uppercase; }
#site_nav a:hover { background: #f00; color: #fff;  }

#main {
  clear: both;
  margin-top: 140px; /* accomodate absolute header */
}

#main p {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

#footer {
  clear: both;
  text-align: center;
	height: 80px;
	margin-top: 120px;
	color: #ccc;
	font-size: 90%;
}
#footer a { color: #999; }
#footer a:hover { color: #f00; }


/* forms */
label { clear: both; float: left; display: block; margin-top: 10px; margin-right: 20px; width: 60px; }
input { font-size: 14pt; color: #333; padding: 5px 8px; margin: 10px 0; width: 400px; }
input, textarea { background-color: #f9f9f9; }
textarea { width: 400px; }


#socialmedia {
  position: absolute;
  margin-left: 825px;
  z-index: 10;
  width: 220px;
  overflow: hidden;
}

/*#socialmedia div { float: left; margin-left: 8px; }*/
#socialmedia div { display: block; margin-top: 10px; }
#socialmedia .google { }
#socialmedia .twitter { }
#socialmedia .facebook { }


#scratches { list-style: none;}
#scratches li {
  float: left;
  width: 190px;
/*  height: 190px;*/
/*  text-align: center;*/
  padding: 10px;
  border: 2px solid #eee;
  overflow: hidden;
  margin: 0  20px 20px 0;
}
#scratches li:hover { color: #000; border-color: #000; }
#scratches li .id { position: absolute; font-size: 25pt; font-weight: bold; color: #999; }
#scratches li:hover .id { color: #333; }
#scratches li .thumbnail { width: 162px; display: block; margin: 0 auto; margin-bottom: 5px; }
#scratches li .download { float: left; }
#scratches li .download a { color: #555; }
#scratches li:hover .download a { color: #000; }
#scratches li .created_at { float: right; color: #ccc; }
#scratches li:hover .created_at { color: #333; }

#scratch { padding: 30px 0; width: 1000px; overflow: visible; }
#scratch .info { margin-right: 10px; }
#scratch .notation { width: 100%; }
#scratch .notation img { }

.notation { border: 1px solid #f0f; width: 1310px; height: 230px; }

#main .text { width: 720px; margin: 0 auto; line-height: 1.2em; }
#main .text h2 { font-weight: bold; margin: 40px 0 10px; padding: 0; }
#main .text p { padding: 0; margin: 6px 0 12px; }
#main .text a { }